<!-- TODO: Will make it better later, just to have it in place first -->
<ul>
  <li class="news-item">
    <span class="score"><span class="loading sm"></span></span>
    <span class="title">
       <span class="loading"></span>
    </span>
    <br>
    <span class="meta">
      <span class="time">
       <span class="loading md"></span>
      </span>
    </span>
  </li>
  <li class="news-item">
    <span class="score"><span class="loading sm"></span></span>
    <span class="title">
       <span class="loading"></span>
    </span>
    <br>
    <span class="meta">
      <span class="time">
       <span class="loading md"></span>
      </span>
    </span>
  </li>
  <li class="news-item">
    <span class="score"><span class="loading sm"></span></span>
    <span class="title">
       <span class="loading"></span>
    </span>
    <br>
    <span class="meta">
      <span class="time">
       <span class="loading md"></span>
      </span>
    </span>
  </li>
  <li class="news-item">
    <span class="score"><span class="loading sm"></span></span>
    <span class="title">
       <span class="loading"></span>
    </span>
    <br>
    <span class="meta">
      <span class="time">
       <span class="loading md"></span>
      </span>
    </span>
  </li>
  <li class="news-item">
    <span class="score"><span class="loading sm"></span></span>
    <span class="title">
       <span class="loading"></span>
    </span>
    <br>
    <span class="meta">
      <span class="time">
       <span class="loading md"></span>
      </span>
    </span>
  </li>
  <li class="news-item">
    <span class="score"><span class="loading sm"></span></span>
    <span class="title">
       <span class="loading"></span>
    </span>
    <br>
    <span class="meta">
      <span class="time">
       <span class="loading md"></span>
      </span>
    </span>
  </li>
  <li class="news-item">
    <span class="score"><span class="loading sm"></span></span>
    <span class="title">
       <span class="loading"></span>
    </span>
    <br>
    <span class="meta">
      <span class="time">
       <span class="loading md"></span>
      </span>
    </span>
  </li>
  <li class="news-item">
    <span class="score"><span class="loading sm"></span></span>
    <span class="title">
       <span class="loading"></span>
    </span>
    <br>
    <span class="meta">
      <span class="time">
       <span class="loading md"></span>
      </span>
    </span>
  </li>
  <li class="news-item">
    <span class="score"><span class="loading sm"></span></span>
    <span class="title">
       <span class="loading"></span>
    </span>
    <br>
    <span class="meta">
      <span class="time">
       <span class="loading md"></span>
      </span>
    </span>
  </li>
  <li class="news-item">
    <span class="score"><span class="loading sm"></span></span>
    <span class="title">
       <span class="loading"></span>
    </span>
    <br>
    <span class="meta">
      <span class="time">
       <span class="loading md"></span>
      </span>
    </span>
  </li>
  <li class="news-item">
    <span class="score"><span class="loading sm"></span></span>
    <span class="title">
       <span class="loading"></span>
    </span>
    <br>
    <span class="meta">
      <span class="time">
       <span class="loading md"></span>
      </span>
    </span>
  </li>
  <li class="news-item">
    <span class="score"><span class="loading sm"></span></span>
    <span class="title">
       <span class="loading"></span>
    </span>
    <br>
    <span class="meta">
      <span class="time">
       <span class="loading md"></span>
      </span>
    </span>
  </li>
  <li class="news-item">
    <span class="score"><span class="loading sm"></span></span>
    <span class="title">
       <span class="loading"></span>
    </span>
    <br>
    <span class="meta">
      <span class="time">
       <span class="loading md"></span>
      </span>
    </span>
  </li>
  <li class="news-item">
    <span class="score"><span class="loading sm"></span></span>
    <span class="title">
       <span class="loading"></span>
    </span>
    <br>
    <span class="meta">
      <span class="time">
       <span class="loading md"></span>
      </span>
    </span>
  </li>
  <li class="news-item">
    <span class="score"><span class="loading sm"></span></span>
    <span class="title">
       <span class="loading"></span>
    </span>
    <br>
    <span class="meta">
      <span class="time">
       <span class="loading md"></span>
      </span>
    </span>
  </li>
</ul>