<footer>
  <a href="https://twitter.com/mhadaily" target="_blank">Follow Me</a> |
  <a href="https://github.com/mhadaily/glimmer-hn-pwa" target="_blank">Fork Glimmer HN PWA</a> |
  <a href="http://www.glimmerjs.org" target="_blank">Built with Glimmer.js</a>
</footer>