<footer>
  <a href="https://twitter.com/mhadaily" rel="noopener" target="_blank">Follow Me</a> |
  <a href="https://github.com/mhadaily/glimmer-hn-pwa" rel="noopener"  target="_blank">Fork Glimmer HN PWA</a> |
  <a href="http://www.glimmerjs.org" rel="noopener"  target="_blank">Built with Glimmer.js</a>
</footer>